---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="flexContainer">
		
		<div class="pluginCard">
			<h2>Advanced UTM Tracking</h2>
			<p class="tagline">Make UTM tracking work the way everyone expects it to.<p>
			<p>
				<strong>Description</strong>: 
				Save UTM values to the user's browsing session and use them for analytics events and auto-filled form values. 
				<br/><br/>
				UTM values can traditionally only be tracked on the page the user lands on and not beyond that - this plugin automatically saves UTM values to your users' browser, keeping the UTMs available to use across all pages and even from previous visits.
			</p>

			<div class="demoLink">
				<a href="/utm-plugin">[Demo and Instructions]</a>
			</div>
			
			<ul class="linkGroup">
				<li>Github Link: <a href="#">[coming_soon]</a></li>
				<li>NPM Link: <a href="#">[coming_soon]</a></li>
				<li>CDN Link: <a href="#">[coming_soon]</a></li>
			</ul>
		</div>

		<div class="pluginCard">
			<h2>Custom Analytics Events</h2>
			<p class="tagline">Track user behavior from simple clicks and form submits to complex actions.<p>

			<p>
				<strong>Description</strong>: Creates custom analytics events for individual elements, or automatically apply events via the provided helper functions.
				<br/><br/>
				Easily set up events for clicks, page views, and other behavior. Interfaces with Google Tag Manager and Google Analytics, with a Matomo version coming soon.
			</p>

			<div class="demoLink">
				<a href="#">[Demo and Instructions]</a>
			</div>

			<ul class="linkGroup">
				<li>Github Link: <a href="#">[coming_soon]</a></li>
				<li>NPM Link: <a href="#">[coming_soon]</a></li>
				<li>CDN Link: <a href="#">[coming_soon]</a></li>
			</ul>
		</div>

		<div class="pluginCard">
			<h2>Dynamic Content Control</h2>
			<p class="tagline">Tailor your content for specfic campaigns and individual users.<p>

			<p>
				<strong>Description</strong>: Change text, images, and other site content based on user behavior or how the user came to the site. Perfect for Gated Content, too
				<br/><br/>
				Set up "browsing contexts" for users that dictates what custom content they see. ex: If a user comes to the site via an ad campaign for healthcare products, change your homepage's content to be healthcare-focused.
			</p>

			<div class="demoLink">
				<a href="#">[Demo and Instructions]</a>
			</div>
			
			<ul class="linkGroup">
				<li>Github Link: <a href="#">[coming_soon]</a></li>
				<li>NPM Link: <a href="#">[coming_soon]</a></li>
				<li>CDN Link: <a href="#">[coming_soon]</a></li>
			</ul>
		</div>

	</div>



<style lang="scss">
	.flexContainer{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: row;
		margin: -1rem;
	}
	.pluginCard{
		width: 100%;
		max-width:400px;
		border: var(--border-settings-main);
		box-shadow: var(--shadow-1);
		padding: 1rem;
		margin: 1rem;
		h2{
			margin: 0;
			padding-bottom: 0.5rem;
			border-bottom: var(--border-settings-main);
		}
		.tagline{
			margin-top: 0.5rem;
			font-weight: 800;
		}
		.demoLink{
			text-align: center;
			padding: 1rem 0;
			a{
				background-color: var(--black);
				color: var(--white);
				padding: 0.5em 1em;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					text-decoration-style: dotted;
				}
			}
		}
		.linkGroup{
			border-top: var(--border-settings-main);
			padding-top: 1rem;
			a{
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					text-decoration-style: dotted;
				}
			}
		}
	}
</style>