---
import "@styles/main.scss"

interface Props {
	title: string;
}

const { title, heading } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kode+Mono&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
		<title>{title} | Planet Caravan Studios</title>
	</head>
	<body>
		
		<header class="headerSection">
			<div>[INTERZONE_MARKETING]</div>
			<div>
				<h1>{heading}</h1>
			</div>
		</header>
		
		<main>
			<slot />
		</main>

		<footer class="footerSection">
			<div>[FOOTER SECTION]</div>
		</footer>

	</body>
</html>

<style is:global>
	

	
</style>

<style lang="scss">
	main{
		border: var(--border-settings-main);
		max-width: var(--container-width);
		margin: auto;
		padding: var(--padding-1);

	}

	.headerSection{
		border: var(--border-settings-main);
		border-bottom: 0;
		max-width: var(--container-width);
		margin: auto;
		padding: var(--padding-1);
		h1{
			margin: 0;
		}
	}

	.footerSection{
		border: var(--border-settings-main);
		border-top: 0;
		max-width: var(--container-width);
		margin: auto;
		padding: var(--padding-1);
		h1{
			margin: 0;
		}
	}
</style>	