---
//Styles
	import "@styles/main.scss"

//Props
	interface Props {
		title: string;
		description: string;
		heading: string;
	}
	const { title, description, heading } = Astro.props;


---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kode+Mono&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
		<title>{title} | Planet Caravan Studios</title>
	</head>
	<body>
		
		<header class="headerSection">
			<div class="logo">
				[G]
			</div>
			<div class="text">
				<div class="top">The Grovery Dev_Labs</div>
				<div class="bottom">
					<h1>{heading}</h1>
				</div>
			</div>
			
		</header>
		
		<main>
			<slot />
		</main>

		<footer class="footerSection">
			<div>The Grovery Dev_Labs</div>
		</footer>

	</body>
</html>

<style is:global>
	

	
</style>

<style lang="scss">
	main{
		border: var(--border-settings-main);
		max-width: var(--container-width);
		margin: auto;
		//padding: var(--padding-1);

	}

	.headerSection{
		border: var(--border-settings-main);
		border-bottom: 0;
		max-width: var(--container-width);
		margin: auto;
		
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;


		.logo{
			width: 200px;
			height: 100%;
			
			padding: 1rem;
			font-size: 3rem;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		.text{
			width: calc(100% - 200px);
			height: 100%;
			border-left: var(--border-settings-main);
			
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			.top{
				padding: 1rem 1rem;
				width: 100%;
				border-bottom: var(--border-settings-main);
			}
			.bottom{
				padding: 1rem 1rem;
				width: 100%;
			}
		}
		h1{
			margin: 0;
			font-size: 2rem;
		}
	}

	.footerSection{
		border: var(--border-settings-main);
		border-top: 0;
		max-width: var(--container-width);
		margin: auto;
		padding: var(--padding-1);
		h1{
			margin: 0;
		}
	}
</style>	